{% extends "index.html" %}


{%block contenido%}
<h2>Registro de usuario</h2>

<form method='POST'>

{{ form.non_field_errors }}
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Crear</button>
</form>

{% endblock %}

{% block contenido %}
<h2> Registro de usuario </h2>

<form method='POST'>
    {{ form}}
    {%csrf_token%}
    {{form.as_div}} # el div es solo como se vera, podemos poner p y se ve d ediferente manera

    <button type="submit">Crear</button> # boton siempre dentro del form

</form>

{% endblock %}
